console/butterfly/*.crt
console/butterfly/**.key
console/butterfly/**.p12
console/butterfly/**.pyc
console/butterfly/*node_modules/
console/butterfly/**.src.coffee
console/butterfly/**.map
console/butterfly/*sass/scss
console/butterfly/**.egg-info/
console/butterfly/*build/
console/butterfly/*.cache/
console/butterfly/*.env*
console/butterfly/*.pytest_cache

